In [1]:
import pandas as pd

# 5.1 Introduction to pandas Data Structures

### Series

In [3]:
obj = pd.Series([4, 7, -5, 3])

In [5]:
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

And so on...

In [6]:
obj.values

array([ 4,  7, -5,  3])

In [7]:
obj.index # like range(4)

RangeIndex(start=0, stop=4, step=1)

the code worked

In [9]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64